@use './colors' as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-padding-top: 74px;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: $bg-color;
}

.blue-text {
	color: $main-color;
}

.shadow-bg {
	background-color: rgba(0, 0, 0, 0.8);
}

.section-title {
	text-align: center;
	text-transform: uppercase;
}

.underline {
	height: 2px;
	background-color: $main-color;
	margin: 0 auto 40px;
	width: 60px;
}

nav {
	text-transform: uppercase;
	width: 100%;
	transition: background-color 0.6s;
	z-index: 10;

	.navbar-brand {
		font-weight: bold;

		&:hover {
			color: $main-color;
		}
	}

	.navbar-toggler {
		padding: 10px 15px;
		border: 1px solid rgb(23, 19, 19);
	}

	.nav-link,
	.navbar-nav .show > .nav.link,
	.navbar-brand,
	.fa-bars {
		color: $white;
	}

	.nav-link:focus,
	.nav-link:hover,
	.navbar-nav .nav-link.active,
	.navbar-nav .show > .nav-link {
		color: $main-color;
	}
}

header.hero-img {
	position: relative;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url('../img/playstation-small.jpg');
	width: 100%;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	z-index: 0;

	.hero-text {
		text-align: center;
		color: $white;
		z-index: 5;

		h1 {
			text-transform: uppercase;
		}
	}

	.hero-shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: -5;
	}
	.fa-chevron-down {
		position: absolute;
		bottom: 10vh;
		left: 50%;
		transform: translate(-50%);
		font-size: 30px;
		color: $white;
	}
}

.aboutus {
	i {
		margin-top: 20px;
		font-size: 30px;
	}

	.aboutus-card-title {
		font-size: 18px;
		text-transform: uppercase;
	}

	.aboutus-card-text {
		font-size: 14px;
	}

	.aboutus-hover {
		transition: color 0.3s;
	}
	.aboutus-hover:hover {
		color: $main-color;
	}
}

.aboutus-hero {
	position: relative;
	background-image: url('../img/technology-small.jpg');
	background-size: cover;
	background-position: center;
	color: $light-grey;
	z-index: 0;

	.aboutus-shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: -5;
	}
}

.aboutus-hero-item {
	margin: 10px 0;

	i {
		font-size: 36px;
	}

	.aboutus-hero-title {
		font-size: 24px;
	}
}

.portfolio {
	.carousel-item {
		height: 600px;
	}
	.carousel-caption {
		left: 0;
		right: 0;
		padding: 40px 0;
		background-color: rgba(0, 0, 0, 0.7);
	}
	.carousel-indicators {
		padding-bottom: 20px;
	}
}

.prices {
	.price-box {
		margin: 20px;
		padding: 30px 10px;
		background-color: $white;
		box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.4);
		transition: transform 0.3s ease;

		&:hover {
			transform: scale(1.05);
		}

		span {
			font-weight: 700;
		}

		i {
			padding: 0 5px;
			font-size: 24px;
		}
	}

	.price-title {
		text-transform: uppercase;
		color: $main-color;
		font-weight: 700;
		font-size: 20px;
	}

	.price-tag {
		font-size: 32px;
		font-weight: 700;
	}

	.btn {
		text-transform: uppercase;
		padding: 10px 20px;
	}

	.price-info {
		margin-top: 30px;
		a {
			text-decoration: none;
		}
	}
}

.team {
	position: relative;
	background-image: url('../img/team/background.jpeg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	z-index: 0;

	.team-shaddow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: -5;
	}

	.section-title {
		color: $light-grey;
	}

	.card {
		transition: transform 0.3s;

		img {
			height: 300px;
			object-fit: cover;
		}

		i {
			padding: 10px;
		}
		&:hover {
			transform: scale(0.95);
		}
	}

	.card-title {
		margin-bottom: 20px;
		text-align: center;
		text-transform: uppercase;
	}

}

@media (min-width: 768px) {
	.hero-text {
		h1 {
			font-size: 42px;
		}
		p {
			font-size: 20px;
		}
	}
}

@media (min-width: 992px) {
	html {
		scroll-padding-top: 72px;
	}

	.aboutus-hero {
		background-image: url('../img/technology-big.jpg');
	}
}

@media (min-width: 1200px) {
	header.hero-img {
		background-image: url('../img/playstation-big.jpg');
	}
}
